In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# found a table containing longitude and latitudes of countries and 
# brought it into pandas

long_lat=pd.read_html("https://developers.google.com/public-data/docs/canonical/countries_csv",skiprows=1)[0]

# renaming columns
long_lat.columns = ['country_code', 'latitude','longitude','name']

# printing dataframe
long_lat.head()

  country_code   latitude  longitude                  name
0           AD  42.546245   1.601554               Andorra
1           AE  23.424076  53.847818  United Arab Emirates
2           AF  33.939110  67.709953           Afghanistan
3           AG  17.060816 -61.796428   Antigua and Barbuda
4           AI  18.220554 -63.068615              Anguilla

In [3]:
#  country code 
converting_country_code=pd.read_html("https://www.worldatlas.com/aatlas/ctycodes.htm",skiprows=1)[0]
converting_country_code.columns= ['name','country_code_2','country_code_3','x','y']
converting_country_code=converting_country_code.drop(['x', 'y'], axis=1)
converting_country_code.head()

             name country_code_2 country_code_3
0     Afghanistan             AF            AFG
1         Albania             AL            ALB
2         Algeria             DZ            DZA
3  American Samoa             AS            ASM
4         Andorra             AD            AND

In [4]:
merged_col=pd.merge(converting_country_code, long_lat, left_on='country_code_2',right_on="country_code")
merged_col.head()

,name_x,country_code_2,country_code_3,country_code,latitude,longitude,name_y
0,Afghanistan,AF,AFG,AF,33.939110,67.709953,Afghanistan
1,Albania,AL,ALB,AL,41.153332,20.168331,Albania
2,Algeria,DZ,DZA,DZ,28.033886,1.659626,Algeria
3,American Samoa,AS,ASM,AS,-14.270972,-170.132217,American Samoa
4,Andorra,AD,AND,AD,42.546245,1.601554,Andorra

In [6]:
# cleaning up the pandas dataframe
# dropping cols I dont need
merged_col=merged_col.drop(['name_y','country_code_2','country_code_3'], axis=1)
merged_col.head()

           name_x country_code   latitude   longitude
0     Afghanistan           AF  33.939110   67.709953
1         Albania           AL  41.153332   20.168331
2         Algeria           DZ  28.033886    1.659626
3  American Samoa           AS -14.270972 -170.132217
4         Andorra           AD  42.546245    1.601554

In [7]:
# renaming cols
merged_col.columns = ['country','country_code','latitude','longitude']

In [9]:
merged_col

                                  country country_code   latitude   longitude
0                             Afghanistan           AF  33.939110   67.709953
1                                 Albania           AL  41.153332   20.168331
2                                 Algeria           DZ  28.033886    1.659626
3                          American Samoa           AS -14.270972 -170.132217
4                                 Andorra           AD  42.546245    1.601554
5                                  Angola           AO -11.202692   17.873887
6                                Anguilla           AI  18.220554  -63.068615
7                              Antarctica           AQ -75.250973   -0.071389
8                     Antigua and Barbuda           AG  17.060816  -61.796428
9                               Argentina           AR -38.416097  -63.616672
10                                Armenia           AM  40.069099   45.038189
11                                  Aruba           AW  12.521110  -69.968338
12                              Australia           AU -25.274398  133.775136
13                                Austria           AT  47.516231   14.550072
14                             Azerbaijan           AZ  40.143105   47.576927
15                                Bahamas           BS  25.034280  -77.396280
16                                Bahrain           BH  25.930414   50.637772
17                             Bangladesh           BD  23.684994   90.356331
18                               Barbados           BB  13.193887  -59.543198
19                                Belarus           BY  53.709807   27.953389
20                                Belgium           BE  50.503887    4.469936
21                                 Belize           BZ  17.189877  -88.497650
22                                  Benin           BJ   9.307690    2.315834
23                                Bermuda           BM  32.321384  -64.757370
24                                 Bhutan           BT  27.514162   90.433601
25                                Bolivia           BO -16.290154  -63.588653
26                 Bosnia and Herzegovina           BA  43.915886   17.679076
27                               Botswana           BW -22.328474   24.684866
28                          Bouvet Island           BV -54.423199    3.413194
29                                 Brazil           BR -14.235004  -51.925280
..                                    ...          ...        ...         ...
212           United Republic of Tanzania           TZ  -6.369028   34.888822
213                              Thailand           TH  15.870032  100.992541
214                           Timor-Leste           TL  -8.874217  125.727539
215                                  Togo           TG   8.619543    0.824782
216                               Tokelau           TK  -8.967363 -171.855881
217                                 Tonga           TO -21.178986 -175.198242
218                   Trinidad and Tobago           TT  10.691803  -61.222503
219                               Tunisia           TN  33.886917    9.537499
220                                Turkey           TR  38.963745   35.243322
221                          Turkmenistan           TM  38.969719   59.556278
222              Turks and Caicos Islands           TC  21.694025  -71.797928
223                                Tuvalu           TV  -7.109535  177.649330
224                                Uganda           UG   1.373333   32.290275
225                               Ukraine           UA  48.379433   31.165580
226                  United Arab Emirates           AE  23.424076   53.847818
227                        United Kingdom           GB  55.378051   -3.435973
228                         United States           US  37.090240  -95.712891
229  United States Minor Outlying Islands           UM        NaN         NaN
230                               Uruguay           UY -32.522779  -55.765835
231                            Uzbekistan           UZ  41.377491   64.585262
232                               Vanuatu           VU -15.376706  166.959158
233                             Venezuela           VE   6.423750  -66.589730
234                              Viet Nam           VN  14.058324  108.277199
235                British Virgin Islands           VG  18.420695  -64.639968
236                     US Virgin Islands           VI  18.335765  -64.896335
237                     Wallis and Futuna           WF -13.768752 -177.156097
238                        Western Sahara           EH  24.215527  -12.885834
239                                 Yemen           YE  15.552727   48.516388
240                                Zambia           ZM -13.133897   27.849332
241                              Zimbabwe           ZW -19.015438   29.154857

[242 rows x 4 columns]

In [ ]:
# URLS used
# 1. table of countries and long lats
# https://developers.google.com/public-data/docs/canonical/countries_csv
# 2. Make data frame with 3 and 2 letter country code
# https://www.worldatlas.com/aatlas/ctycodes.htm