In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
climate_data = pd.read_html('https://www.ncdc.noaa.gov/cag/global/time-series/globe/land_ocean/12/6/1980-2019')

In [4]:
climate_data

[    Year Anomaly(1901-2000 Base Period)  Rank
 0   1980                         0.30°C     8
 1   1981                         0.30°C    10
 2   1982                         0.20°C     2
 3   1983                         0.30°C    11
 4   1984                         0.26°C     7
 5   1985                         0.12°C     1
 6   1986                         0.20°C     3
 7   1987                         0.26°C     6
 8   1988                         0.42°C    17
 9   1989                         0.30°C     9
 10  1990                         0.39°C    15
 11  1991                         0.42°C    16
 12  1992                         0.37°C    12
 13  1993                         0.25°C     4
 14  1994                         0.26°C     5
 15  1995                         0.43°C    18
 16  1996                         0.38°C    14
 17  1997                         0.37°C    13
 18  1998                         0.64°C    31
 19  1999                         0.52°C    22
 20  2000                         0.45°C    20
 21  2001                         0.44°C    19
 22  2002                         0.61°C    28
 23  2003                         0.56°C    23
 24  2004                         0.61°C    29
 25  2005                         0.61°C    27
 26  2006                         0.61°C    30
 27  2007                         0.67°C    33
 28  2008                         0.51°C    21
 29  2009                         0.60°C    25
 30  2010                         0.71°C    35
 31  2011                         0.60°C    26
 32  2012                         0.58°C    24
 33  2013                         0.64°C    32
 34  2014                         0.71°C    34
 35  2015                         0.81°C    37
 36  2016                         1.01°C    39
 37  2017                         0.86°C    38
 38  2018                         0.78°C    36]

In [5]:
# pd.read_sql("SELECT * FROM who_country_code_mhw", conn)

NameError: name 'Base' is not defined